<!DOCTYPE html>
<html>
    <head>
        <title>customize tag</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    	
    	{HtmlSelect from=$goods selectedValue="2" id="goods1"  name="goods" class="blueSelect"}
    	
    	多个选中项:
    	{HtmlSelect from=$goods selectedValue="2,3,4" id="goods1"  name="goods" class="blueSelect" SIZE="4" MULTIPLE="MULTIPLE"}
		
		{HtmlSelect from=$goods selectedValue="4" id="goods1"  name="goods" class="blueSelect" SIZE="4" MULTIPLE="MULTIPLE"}
		  
 
	</body>
</html>