<html>
	<head>
		<title>模板继承示例</title> 
		<style type="text/css">
		body{}
		.wBlock{ width:1000px;margin-left:auto;margin-right:auto;height:100px; }
		.wTop{ background-color:#E0EAEA; }
		.wTop h1{ padding:5px;}
		.wContent{}
		 .wMenu{width:200px;float:left;}
		 .wDetail{width:790px;float:right;}
		.wClear{clear:both;}
		.wFooter{ background-color:#EAEAEA;text-align:center;}
		</style>
		 
	</head>
	<body>
		<div class="wBlock wTop">
			<h1>Rong Framework inherit(extends)</h1>
		</div>
		  
		<div class="wBlock">
			<!--{block name="content"}-->请填充内容 <!--{/block}-->
		</div>
		
		       
		
		<div class="wBlock wFooter">
		wudimei.com版权所有 
		</div>
		
	</body>
</html>