<!DOCTYPE html>
<html>
    <head>
        <title>customize tag</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    	 
    	<h3>new articles</h3>
    	
    	<?php $this->data["query"]=execute_query("select * from  w_article order by id desc limit 0,10"); foreach( $this->data["query"] as $this->data['item'] ){ ?>
    	  <?php echo wudimei_toString( @$this->data['item']['id']); ?> <?php echo wudimei_toString( @$this->data['item']['title']); ?> <?php echo wudimei_toString( @$this->data['item']['add_time']); ?> <br />   
    	<?php } ?>  
    	
    	<h3>view articles</h3>
		<?php $this->data["query"]=execute_query("select * from  [TablePrefix]article order by id asc limit 0,10"); foreach( $this->data["query"] as $this->data['item'] ){ ?>
    	  <?php echo wudimei_toString( @$this->data['item']['id']); ?> <?php echo wudimei_toString( @$this->data['item']['title']); ?> <?php echo wudimei_toString( @$this->data['item']['add_time']); ?> <br />   
    	<?php } ?>

	</body>
</html>