<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div><?php echo wudimei_toString( @$this->data['msg']); ?></div>
        
        	<table border="1">
                <tr>
                    <th>index</th>
                    <th>key</th>
                    <th>name</th>
                    <th>company</th>
                </tr>
            <?php $this->data["wudimei"]["foreach"]["languages" ]= array("index"=>-1); foreach(  @$this->data['languages']  as $this->data['k'] =>  $this->data['lang'] ){  $this->data["wudimei"]["foreach"]["languages"]["index"]++;  ?>
                <tr>
                     <td><?php echo wudimei_toString( @$this->data['wudimei']['foreach']['languages']['index']); ?></td>
                     <td><?php echo wudimei_toString( @$this->data['k']); ?></td>
                    <td><?php echo wudimei_toString( @$this->data['lang']['name']); ?></td>
                     <td><?php echo wudimei_toString( @$this->data['lang']['company']); ?></td>
                </tr>
            <?php } ?>
            </table>
            
    </body>
</html>