please choose fruits2: <br />

<?php 
	$checkboxes = new Rong_Html_Checkboxes();
	$checkboxes->setOptions($this->data["goods"]);
	$checkboxes->setCheckedValues("1,3,4");
	$checkboxes->setSeparator("<br />");$checkboxes->set("name","fruits[]");
echo $checkboxes->toHtml();   ?>


i like these frunits:<br />
<?php 
	$checkboxes = new Rong_Html_Checkboxes();
	$checkboxes->setOptions($this->data["goods"]);
	$checkboxes->setCheckedValues($this->data["checkedValueArray"]);
	$checkboxes->setSeparator("<br />");$checkboxes->set("name","my_fruits[]");
echo $checkboxes->toHtml();   ?>