<!DOCTYPE html>
<html>
    <head>
        <title>customize tag</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    	
    	<?php 
	$select = new Rong_Html_Select();
	$select->setOptions($this->data['goods']);
	$select->setSelectedValue("2");$select->set("id","goods1");
$select->set("name","goods");
$select->set("class","blueSelect");
echo $select->toHtml();   ?>
    	
    	多个选中项:
    	<?php 
	$select = new Rong_Html_Select();
	$select->setOptions($this->data['goods']);
	$select->setSelectedValue("2,3,4");$select->set("id","goods1");
$select->set("name","goods");
$select->set("class","blueSelect");
$select->set("SIZE","4");
$select->set("MULTIPLE","MULTIPLE");
echo $select->toHtml();   ?>
		
		<?php 
	$select = new Rong_Html_Select();
	$select->setOptions($this->data['goods']);
	$select->setSelectedValue("4");$select->set("id","goods1");
$select->set("name","goods");
$select->set("class","blueSelect");
$select->set("SIZE","4");
$select->set("MULTIPLE","MULTIPLE");
echo $select->toHtml();   ?>
		     
 
	</body>
</html>