<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
             output variable $msg(输出$msg变量):<?php echo wudimei_toString( @$this->data['msg']); ?> <br />
             output variable $name(输出变量$name): <?php echo wudimei_toString( @$this->data['name']); ?> <br />
             trim $name(去掉$name的前后空格): <?php echo wudimei_toString(wudimei_trim (  @$this->data['name'] ) ); ?> <br />
             substr of $msg($msg的前五个字母): <?php echo wudimei_toString(wudimei_substr (  @$this->data['msg'],0,5 ) ); ?><br />
             string length(字符串长度strlen): <?php echo wudimei_toString(wudimei_strlen (  @$this->data['msg'] ) ); ?> <br />
             replace string(字符串替换): <?php echo wudimei_toString(wudimei_replace (  @$this->data['msg'],"World","China" ) ); ?> <br />
             repeat string(字符串重复): <?php echo wudimei_toString(wudimei_repeat (  @$this->data['msg'],5 ) ); ?><br />
             concat string(字符串连接): <?php echo wudimei_toString(wudimei_concat (  @$this->data['msg'],"how r u?" ) ); ?><br />
             concat string(字符串连接): <?php echo wudimei_toString(wudimei_cat (  @$this->data['msg'],"how r u?" ) ); ?><br />
             append string(字符串追加): <?php echo wudimei_toString(wudimei_append (  @$this->data['name']," is a chinese." ) ); ?> <br />
             nl2br(换行符替换成br标记):<?php echo wudimei_toString(wudimei_nl2br (  @$this->data['list'] ) ); ?><br />
             url encode: <?php echo wudimei_toString(wudimei_urlencode (  @$this->data['url'] ) ); ?> <br />
             url decode: <?php echo wudimei_toString(wudimei_urldecode (  @$this->data['url'] ) ); ?> <br />
             base64 encode: <?php echo wudimei_toString(wudimei_base64_encode (  @$this->data['url'] ) ); ?> <br />
             base64 deocode:<?php echo wudimei_toString(wudimei_base64_decode (  @$this->data['b64'] ) ); ?> <br />
             string position of "World"（字符串“World”的位置）： <?php echo wudimei_toString(wudimei_strpos (  @$this->data['msg'],"World" ) ); ?> <br />
             strip html tags（去掉HTML标记）：<?php echo wudimei_toString(wudimei_strip_tags (  @$this->data['html'] ) ); ?> <br />
             --------<br />
             output $utf8String:<?php echo wudimei_toString( @$this->data['utf8String']); ?><br />
             utf-8 sub string(utf-8字符集的子串):<?php echo wudimei_toString(wudimei_utf8SubString (  @$this->data['utf8String'],5,3 ) ); ?><br />
             utf-8 string length(utf-8字符集的长度):<?php echo wudimei_toString(wudimei_utf8Length (  @$this->data['utf8String'] ) ); ?><br />
             highlight:<?php echo wudimei_toString(wudimei_highlight (  @$this->data['msg'],"World","red" ) ); ?><br />
        </div>
    </body>
</html>