@CHARSET "UTF-8";
.clear{ clear: both; }

.table{ border-collapse: collapse; margin:2px 0px; }
.table td, .table th{ border:1px solid gray; padding:3px 8px; }
.table th{ background-color:#dedddc; }

.PageLink{ margin-top:10px; margin-bottom:10px;  height: 30px; }
 .PageLink a:link,.PageLink a:visited{
     margin-right:5px; padding: 2px 8px;
    border:1px solid #aaa;text-decoration:none; text-align:center; background-color:#efa;
 }
 .PageLink span{  margin-right:5px;padding: 2px 8px;
    border:1px solid #aaa;text-decoration:none; text-align:center; background-color:#eee;
 }
 .PageLink a:hover{ border:1px solid #aaa; background-color:#def; }

/* index start */
.index_header{  background-color:#FFFFFF;  padding:10px; border-bottom:5px solid #CCCCCC; }
.index_header span{ font-size:24px;  margin-left:20px; font-weight:bold; color: blue; }
.index_body{ margin:0px; color:#333333; line-height:25px; }
.index_content{ padding:10px; background-color:#EFFCdD; }
/* index end */

.top{background-color: #666; color: white;}
 .top_content{ width: 980px; margin-left: auto; margin-right: auto;}
.header{  background-color:#FFFFFF;  padding:10px; border-bottom:5px solid #CCCCCC; }
.header span{ font-size:24px;  margin-left:20px; font-weight:bold; color: blue; }
.body{  margin: 0px; padding: 0px;  color:#333333; line-height:25px; background-color: #F0F0F0; }
.content{  background-color:#FFF; width: 980px; margin-left: auto; margin-right: auto; }
 .leftmenu{ width:200px; float: left; }
  .leftmenu_padding{ padding: 10px; }
 .panel{ width: 780px; float: right; }
  .panel_padding{ padding: 10px; }
.bottom{ background-color: #666; color: white; }
 .bottom_content{ width: 980px; margin-left: auto; margin-right: auto; }
 