<?php  $this->extendsView($Rong_View_File,"extends/2.html" ); ?>

 
<?php  $this->block_open($Rong_View_File,"menu");  ?>
		<a href="#">About Us</a><br />
		<a href="#">Contact Us</a><br />
		<a href="#">Product</a><br />
<?php  $this->block_close($Rong_View_File);  ?>
 
<?php  $this->block_open($Rong_View_File,"detail");  ?> 
		<form action="">
		keywords: <input type="text" name="keywords" value="<?php echo wudimei_toString($this->data["keyword"]); ?>" /> <input type="submit" value="query" />
		</form>
<?php  $this->block_close($Rong_View_File);  ?>

<?php  $this->block_open($Rong_View_File,"links");  ?>
	[<?php  $this->blockParent($Rong_View_File);  ?>]
	ÔÝÎÞÁ´½Ó!!22  
<?php  $this->block_close($Rong_View_File);  ?>
 